#############################
## AWS Configuration File ##
############################
[global]
DEFAULT_TEMPLATE=c3

#############################################
## AWS Credentials and Connection Settings ##
#############################################
[aws_info] 
AWS_ACCESS_KEY_ID = AKIAJWB3Q4AKUDSOUPNA
AWS_SECRET_ACCESS_KEY = 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
AWS_REGION_NAME = us-east-1c

###########################
## Defining EC2 Keypairs ##
###########################
[key]
KEY_NAME = aws
KEY_LOCATION = ~/.ssh/aws.rsa

################################
## Defining Cluster Templates ##
################################
[c3]
CLUSTER_SIZE = 1
NODE_IMAGE_ID = ami-fdbbf497
NODE_INSTANCE_TYPE = c3.8xlarge
AVAILABILITY_ZONE = us-east-1c

[c4]
CLUSTER_SIZE = 1
NODE_IMAGE_ID = ami-0ace8160
NODE_INSTANCE_TYPE = c4.8xlarge
SUBNET_ID=subnet-70d7ec36
AVAILABILITY_ZONE = us-east-1c

#######################
## Script Arguments ##
#######################
[raid]
#will change this back to 4
n_tb = 2
availability_zone = us-east-1c

[gitpull]
dir_name = /data/software